@model Naja.ViewModels.CharViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>@Model.Character.Charname</h4>
    <hr />
    <p>Gil: @String.Format("{0:n0}", Model.Gil)g</p>
    <table class="table table-bordered border-secondary table-sm">
        <thead class="bg-primary text-white text-center">
            <tr>
                <th colspan="4">Inventory</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Character.Inventory)
            {
                @if (item.ItemId != 65535) @* gil *@
                {
                    <tr>
                        <td>
                            <a asp-action="Details" asp-controller="Items" asp-route-id="@item.ItemId">
                                @item.Item.Sortname.Replace("_", " ")
                            </a>
                            @if (item.Quantity > 1)
                            {
                                @($"x{item.Quantity}")
                            }
                            @if (item.Signature != "")
                            {
                                @($"[{item.Signature}]")
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
