@model Naja.ViewModels.CharViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Char</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Character.Account)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Character.Account.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Character.OriginalAccid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Character.OriginalAccid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Character.Charname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Character.Charname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Character.Nation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Character.Nation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Character.PosZone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Character.PosZone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Character.PosPrevzone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Character.PosPrevzone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Character.PosRot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Character.PosRot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Character.PosX)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Character.PosX)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Character.PosY)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Character.PosY)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Character.PosZ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Character.PosZ)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Character.Moghouse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Character.Moghouse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Character.Boundary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Character.Boundary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Character.HomeZone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Character.HomeZone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Character.HomeRot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Character.HomeRot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Character.HomeX)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Character.HomeX)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Character.HomeY)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Character.HomeY)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Character.HomeZ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Character.HomeZ)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Character.Missions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Character.Missions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Character.Assault)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Character.Assault)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Character.Campaign)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Character.Campaign)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Character.Eminence)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Character.Eminence)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Character.Quests)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Character.Quests)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Character.Keyitems)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Character.Keyitems)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Character.SetBlueSpells)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Character.SetBlueSpells)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Character.Abilities)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Character.Abilities)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Character.Weaponskills)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Character.Weaponskills)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Character.Titles)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Character.Titles)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Character.Zones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Character.Zones)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Character.Playtime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Character.Playtime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Character.UnlockedWeapons)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Character.UnlockedWeapons)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Character.Gmlevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Character.Gmlevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Character.Languages)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Character.Languages)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Character.Mentor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Character.Mentor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Character.JobMaster)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Character.JobMaster)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Character.CampaignAllegiance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Character.CampaignAllegiance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Character.Isstylelocked)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Character.Isstylelocked)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Character.Settings)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Character.Settings)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Character.Chatfilters1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Character.Chatfilters1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Character.Chatfilters2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Character.Chatfilters2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Character.Moghancement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Character.Moghancement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Character.Timecreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Character.Timecreated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Character.Lastupdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Character.Lastupdate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
