@model List<Naja.ViewModels.CharViewModel>

@using Humanizer
@using Naja.Services

@inject IAccountService AccountService

@{
    ViewData["Title"] = "Index";
}

@{
    var currentCharacter = await AccountService.GetCurrentCharacter();
}

<h1 class="text-center">Select Character</h1>

<table class="table text-center align-middle">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Nation
            </th>
            <th>
                Location
            </th>
            <th>
                Time Played
            </th>
            <th>
                Created
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.Character.Gmlevel > 0)
                    {
                        <img src="/images/gm-icon.png" title="This character is a GM." />
                    }
                    <b>@item.Character.Charname</b>
                </td>
                <td>
                    <img src="@item.NationImageUrl" alt="@item.NationName" />
                </td>
                <td>
                    <i>@item.ZoneName</i>
                </td>
                <td>
                    @TimeSpan.FromSeconds(item.Character.Playtime).Humanize(maxUnit:
                             Humanizer.Localisation.TimeUnit.Day, precision: 4)
                </td>
                <td>
                    @item.Character.Timecreated
                </td>
                <td>
                    @if (currentCharacter != null && item.Character.Charid == currentCharacter.Charid)
                    {
                        <i class="bi bi-check-lg text-success align-middle" style="font-size: 1.5rem;"></i>
                    }
                    else
                    {
                        <form asp-action="SelectCharacter" asp-controller="AccountCharacters" method="post">
                            <input type="hidden" name="id" value="@item.Character.Charid" />
                            <button type="submit" class="btn btn-primary">Select</button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
