@model Naja.ViewModels.ItemViewModel

@if (Model.Equipment != null)
{
    <table class="table table-bordered border-secondary table-sm">
        <thead class="bg-primary text-white text-center">
            <tr>
                <th colspan="4">Equipment Information</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="col-sm-2 bg-secondary bg-opacity-25">Slot</th>
                <td colspan="3">
                    @{
                        var slots = string.Join(", ", Model.Equipment.ListSlots);
                    }
                    <span>@slots</span>
                </td>
            </tr>
            @if (Model.Weapon != null)
            {
                <tr>
                    <th class="col-sm-2 bg-secondary bg-opacity-25">Skill</th>
                    <td class="align-middle">
                        @Model.Weapon.SkillName
                    </td>
                    <th class="col-sm-2 bg-secondary bg-opacity-25">Damage Type</th>
                    <td class="align-middle">
                        @Model.Weapon.DamageType
                    </td>
                </tr>
                <tr>
                    <th class="col-sm-2 bg-secondary bg-opacity-25">Damage</th>
                    <td>
                        @Model.Weapon.Dmg
                    </td>
                    <th class="col-sm-2 bg-secondary bg-opacity-25">Delay</th>
                    <td>
                        @Model.Weapon.Delay
                    </td>
                </tr>
            }
            @if (Model.Equipment.ShieldSize != 0)
            {
                <tr>
                    <th class="col-sm-2 bg-secondary bg-opacity-25">Shield Size</th>
                    <td colspan="3">
                        @Model.Equipment.ShieldSize
                    </td>
                </tr>
            }
            <tr>
                <th class="col-sm-2 bg-secondary bg-opacity-25">Level</th>
                <td colspan="3">
                    @Model.Equipment.Level
                </td>
            </tr>
            @if (Model.Equipment.Ilevel != 0)
            {
                <tr>
                    <th class="col-sm-2 bg-secondary bg-opacity-25">Item Level</th>
                    <td colspan="3">
                        @Model.Equipment.Ilevel
                    </td>
                </tr>
            }
            @if (Model.Equipment.SuLevel != 0)
            {
                <tr>
                    <th class="col-sm-2 bg-secondary bg-opacity-25">Superior Level</th>
                    <td colspan="3">
                        @Model.Equipment.SuLevel
                    </td>
                </tr>
            }
            <tr>
                <th class="col-sm-2 bg-secondary bg-opacity-25">Jobs</th>
                <td colspan="3">
                    @foreach (var job in Model.Equipment.ListJobs)
                    {
                        <span>@job</span>
                    }
                </td>
            </tr>
        </tbody>
    </table>
}