@model Naja.ViewModels.ItemViewModel

@{
    ViewData["Title"] = Model.DisplayName;
}

<div style="display: flex; align-items: center;">
    <div class="mx-3">
        <img src="https://static.ffxiah.com/images/icon/@($"{Model.Basic.Itemid}.png")" title="@Model.Basic.Name" />
    </div>
    <div class="mb-2">
        <h1 class="mb-0">@Model.DisplayName</h1>
        <div>
            <a href="https://www.bg-wiki.com/ffxi/@Model.DisplayName" target="_blank">
                <img src="~/images/bgwiki.png" alt="BG-Wiki" title="BG-Wiki" />
            </a>
            <a href="https://www.ffxiah.com/item/@Model.Basic.Itemid" target="_blank">
                <img src="~/images/ffxiah.png" alt="FFXIAH" title="FFXIAH" />
            </a>
        </div>
    </div>
</div>


<table class="table table-bordered border-secondary table-sm">
    <thead class="bg-primary text-white text-center">
        <tr>
            <th colspan="4">Item Details</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th class="col-sm-2 bg-secondary bg-opacity-25">Flags</th>
            <td colspan="3">
                @{
                    var flags = string.Join(", ", Model.Basic.ListFlags);
                }
                <span>@flags</span>
            </td>
        </tr>
        <tr>
            <th class="col-sm-2 bg-secondary bg-opacity-25">Stack Size</th>
            <td colspan="3">
                @Model.Basic.StackSize
            </td>
        </tr>
        @if (Model.Basic.Sellable == true && Model.Basic.BaseSell > 0)
        {
            <tr>
                <th class="col-sm-2 bg-secondary bg-opacity-25">Resale Price</th>
                <td colspan="3">
                    @String.Format("{0:n0}", Model.Basic.BaseSell)g
                </td>
            </tr>
        }
    </tbody>
</table>

@await Html.PartialAsync("_EquipmentInformation", Model)
@await Html.PartialAsync("_AuctionHouse", Model)
@await Html.PartialAsync("_Bazaar", Model)
