@model Naja.Models.ItemViewModel

@{
    ViewData["Title"] = Model.SortName;
}


<div style="display: flex; align-items: center;">
    <div class="mx-3">
        <img src="https://static.ffxiah.com/images/icon/@($"{Model.ItemBasic.Itemid}.png")" title="@Model.Name" />
    </div>
    <div>
        <h1>@Model.SortName</h1>
        <a href="https://www.ffxiah.com/item/@Model.ItemBasic.Itemid" target="_blank">
            <img src="~/images/ffxiah.png" alt="FFXIAH" title="FFXIAH" class="align-top" />
        </a>
    </div>
</div>


<table class="table table-bordered border-secondary table-sm">
    <thead class="bg-primary text-white text-center">
        <tr>
            <th colspan="4">Item Details</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th class="col-sm-2 bg-secondary bg-opacity-25">Flags</th>
            <td colspan="3">
                @{
                    var flags = string.Join(", ", Model.ItemBasic.FlagsDescriptions);
                }
                <span>@flags</span>
            </td>
        </tr>
        <tr>
            <th class="col-sm-2 bg-secondary bg-opacity-25">Stack Size</th>
            <td colspan="3">
                @Html.DisplayFor(i => Model.ItemBasic.StackSize)
            </td>
        </tr>
        @if (Model.ItemBasic.Sellable && Model.ItemBasic.BaseSell > 0)
        {
            <tr>
                <th class="col-sm-2 bg-secondary bg-opacity-25">Resale Price</th>
                <td colspan="3">
                    @String.Format("{0:n0}", Model.ItemBasic.BaseSell)g
                </td>
            </tr>
        }
    </tbody>
</table>

@await Html.PartialAsync("_EquipmentStats", Model.ItemBasic)
@await Html.PartialAsync("_AuctionHouse", Model)
@await Html.PartialAsync("_Bazaar", Model)
