@model Naja.Models.ItemViewModel

@{
    ViewData["Title"] = Model.ItemBasic.DisplaySortname;
}


<div style="display: flex; align-items: center;">
    <div class="mx-3">
        <img src="https://static.ffxiah.com/images/icon/@($"{Model.ItemBasic.Itemid}.png")"
            title="@Model.ItemBasic.DisplayName" />
    </div>
    <div>
        <h1>@Model.ItemBasic.DisplaySortname</h1>
        <a href="https://www.ffxiah.com/item/@Model.ItemBasic.Itemid" target="_blank">
            <img src="~/images/ffxiah.png" alt="FFXIAH" title="FFXIAH" class="align-top" />
        </a>
    </div>
</div>

@foreach (var flag in Model.ItemBasic.FlagsDescriptions)
{
    <span class="badge bg-primary mb-2">@flag</span>
}

<dl class="row">
    <dt class="col-sm-2">Stack Size</dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(i => Model.ItemBasic.StackSize)
    </dd>
    @if (Model.ItemBasic.Sellable && Model.ItemBasic.BaseSell > 0)
    {
        <dt class="col-sm-2">Resale Price</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(i => Model.ItemBasic.BaseSell)g
        </dd>
    }
</dl>


@await Html.PartialAsync("_EquipmentStats", Model.ItemBasic)
@await Html.PartialAsync("_AuctionHouse", Model)
