@model PaginatedList<Naja.ViewModels.AuctionHouseViewModel>

@{
    ViewData["Title"] = "Auction House";
}

<h1 class="text-center display-4">Auction House</h1>

<table class="table table-bordered border-secondary table-hover table-sm">
    <thead>
        <tr>
            <th class="bg-secondary bg-opacity-25">Item</th>
            <th class="bg-secondary bg-opacity-25 text-center">Stock</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var group in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-controller="Items" asp-route-id="@group.ItemId">
                        @group.DisplayName
                    </a>
                    @if (group.Stack == 1)
                    {
                        @($"x{group.Quantity}")
                    }
                </td>
                <td class="col-sm-1 text-center">
                    @group.Stock
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<div class="text-center">
    <a asp-action="Index" asp-route-page="1" class="btn btn-default @prevDisabled">
        First
    </a>
    <a asp-action="Index" asp-route-page="@(Model.PageIndex - 1)" class="btn btn-default @prevDisabled">
        Previous
    </a>
    <a asp-action="Index" asp-route-page="@(Model.PageIndex + 1)" class="btn btn-default @nextDisabled">
        Next
    </a>
    <a asp-action="Index" asp-route-page="@(Model.TotalPages)" class="btn btn-default @nextDisabled">
        Last
    </a>
</div>
